<% provide(:title, 'Official Forums of Pets Alliance') %>

<h1>Welcome to the Official Pets Alliance Forums!</h1>

<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Forums</li>
</ul>

<div class="row">
  
  <div class="span3">
    stuff in the sidebar
  </div>

  <div class="span9">
    <table class="table">
      <thead>
        <tr>
          <th>Discussion</th>
          <th>Started By</th>     
          <th>Replies</th>
          <th>Views</th>
          <th>Most Recent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>